# Default ignored files
/../../exercice 1 tp revesion /.idea/shelf/
/../../exercice 1 tp revesion /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../exercice 1 tp revesion /.idea/httpRequests/
# Datasource local storage ignored files
/../../exercice 1 tp revesion /.idea/dataSources/
/../../exercice 1 tp revesion /.idea/dataSources.local.xml
